.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
}

.btn {
    margin-left: auto;
    height: 44px;
    align-self: center;     
    background-color: yellowgreen;
}

.btn:hover {
    border: none;     
    color: white;
    transition: 500ms;
}